@import "Variables";

.team {
  background-color: $blue;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $white;
  text-align: center;
}
.team_header {
  text-align: center;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 580px) {
  .team_header {
    font-size: $MainHeader;
  }
}
@media only screen and (max-width: 767px) {
  .team--paddingbotton {
    padding-bottom: 3rem;
  }
}

.team_text {
  padding: 0;
  margin: 0;
}
