@import "Variables";

.footer {
  background-color: darkblue;
  color: white;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 767px) {
  .footer--paddingbotton {
    padding-bottom: 3rem;
  }
  .footer {
    text-align: center;
  }
}
