@import "Variables";
.navbar {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 580px) {
  .navbar--top {
    margin-top: 1rem;
  }
}
.navbar--nowrap {
  white-space: nowrap;
}
.navbar_div {
  margin-top: 1rem;
}
