@import "Variables";
@import "FirstSection";
@import "SecondSection";
@import "ThirdSection";
@import "FourthSection";
@import "FifthSection";
@import "SixthSection";
@import "SeventhSection";
@import "EightSection";
@import "Footer";
